@tailwind base;
@tailwind components;
@tailwind utilities;

/* App global styles */
html,
body,
#root {
    height: 100%;
    margin: 0;
}
body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: #f8fafc;
    color: #0f172a;
}
